body {
    font-family: Lato;
    background: linear-gradient(180deg, #C0A15B,#D9C7A3);
    font-size: 14px;
    padding: 20px 150px 20px 30px;
    margin: 30px 200px 30px 50px;
}

h1{
    font-family: Lato;
    font-size: 40px;
    color: #fefefe;
   
}

h2{
    font-family: Lato;
    font-size: 30px;
    color: #2e3a22;
}

h3{
    font-family: Lato;
    font-size: 30px;
    color: #556B2F;
}

h4{
    font-family: Lato;
    font-size: 25px;
    color: #2e3a22;
}

p{
    font-family: Lato;
    font-size: 12px;
    color: #2e3a22;    
}

li{
    font-family: Lato;
    font-size: 30px;
    color: #ffffff;    
}

blockquote{
    font-family: Lato;
    font-size: 12px;
    color: #2e3a22;    
}

a {
    font-family:Lato;
    font-size: 18px;
    color: #2e3a22;    
}

footer.test {
    padding: 0 0 30px 0;
    margin: 0 0 300px 0;
}

<div style="text-align:center;">
  <img src="android-chrome-192x192.png" alt="Assignment 1" width="100">
</div>

